@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --font-size-title:80px;
  --font-size-big: 40px;
  --font-size-small: 18px;
  --button--height-big:70px ;
  --button--width-big: 300px;
  --button--height-small: 80px;
  --button--width-small: 60px;
}